.bodyLogin {
    font-family: 'Arial', sans-serif;
    background-color: #E3DCD2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .formLogin {
    background-color: #919191;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .divLogin {
    background-color: #E3DCD2;
    padding: 40px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
  }
  
  .h1Login {
    text-align: center;
    color: #013328;
    margin-bottom: 24px;
  }
  
  p {
    color: #d9534f;
    text-align: center;
    background-color: #f8d7da;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
    color: #555;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #dfdfdf;
  }
  
  .btnLogin {
    width: 100%;
    padding: 12px;
    background-color: #013328;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .btnLogin:hover {
    background-color: #00775d;
  }
  
  div > div {
    margin-bottom: 16px;
  }
  